.heading {
	font-size: 2rem;
	font-weight: 800;
	line-height: 130%;
	margin-bottom: 1.5rem;
}

.heading_white {
	color: white;
}

.heading_black {
	color: $weakBlack;
}

.heading_primary {
	color: $primary;
}