.contact {
	background-image: url('/static/contact-us-bg.svg');
	padding: 10rem 8rem;

	background-repeat: no-repeat;
}

.contact__heading {
	text-align: center;
	margin-bottom: 6rem;
}

.contact__body {
	display: flex;
	justify-content: space-between;
}

.contact__info {
	flex-basis: 45%;
	line-height: 160%;
}

.contact__okoo {
	font-weight: 600;
	color: $primary;
}

.contact__form {
	flex-basis: 45%;
}

.contact__input {
	margin-bottom: 2rem;
}