@font-face {
	font-family: "SF UI Display";
	font-weight: 400;
	src: url('/fonts/SFUIDisplay-Light.woff') format('woff'),
		 url('/fonts/SFUIDisplay-Light.woff2') format('woff2');
	font-style: normal;
}

@font-face {
	font-family: "SF UI Display";
	font-weight: 500;
	src: url('/fonts/SFUIDisplay-Medium.woff') format('woff'),
		 url('/fonts/SFUIDisplay-Medium.woff2') format('woff2');
	font-style: normal;
}

@font-face {
	font-family: "SF UI Display";
	font-weight: 800;
	src: url('/fonts/SFUIDisplay-Heavy.woff') format('woff'),
		 url('/fonts/SFUIDisplay-Heavy.woff2') format('woff2');
	font-style: normal;
}